.filter {
  display: block;
  width: 100%;
  height: calc(1.75rem + 2px);
  padding: 0.375rem 0.75rem;

  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ffab9d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #ffab9d;
  }
  @media (min-width: 768px) {
    width: 200px;
    height: calc(2.25rem + 2px);
  }
  @media (min-width: 1280px) {
    width: 300px;
    height: calc(2.25rem + 2px);
  }
}
