.sdp {
  --theme-color: #8b5cf6 !important;
}

.sideWrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
    max-height: 400px;
  }
}

.totalWrapper {
  @media (max-width: 768px) {
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0px 0px 4px 4px;
  }
  @media (min-width: 768px) {
    margin-top: 20px;
    margin-left: 30px;
  }
  @media (min-width: 1280px) {
    display: flex;
    margin-top: 0;
    margin-bottom: 60px;
  }
}

.dateWrapper {
  margin-top: 20px;
  margin-bottom: 50px;

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 1280px) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.total {
  font-style: bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #7f00ff;
}
