.IconButton {
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: floralwhite;
  font: inherit;
  background-color: blueviolet;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
